@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    scroll-behavior: smooth;
    text-decoration: none;
}







:root{
    --text-color:#f5f5f5;
    --hover-color:#12f7ff;
    --bg-color:#1daf;
    --secon-bg-color:#023929;
    --big-font:2.5rem;
    --norma-font:2rem;
    --neon-box-shadow:0 0 .5rem #00fddb;
    --h2-font:3rem;
    --font-neon-text-shadow:0 0 10px rgba(0, 119, 255, 0.8),
    0 0 20px rgba(0, 119, 255, 0.8),
    0 0 30px rgba(0, 119, 255, 0.8),
    0 0 40px rgba(0, 119, 255, 0.8),
    0 0 70px rgba(0, 119, 255, 0.8),
    0 0 80px rgba(0, 119, 255, 0.8),
    0 0 100px rgba(0, 119, 255, 0.8),
    0 0 150px rgba(0, 119, 255, 0.8),
}

body{
    font-family: "Montserrat",sans-serif;
    background-color: #00251f;
    color: var(--text-color);
}

.bton{
    display: inline-block;
    margin-top: .7rem;
    padding: .5rem .5rem;
    font-size: 1rem;
    background: #f0fdfa;
    color: #0eb582;
    cursor: pointer;
    text-transform: capitalize;

    &:hover{
        background:#0eb582;
        color: white;
    }
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px 1%;
    grid-gap: 1rem;
}

.logo{
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 1x;
}
span{
    color: var(--hover-color);
}

.navlist{
    display: flex;
}
.navlist a{
    color: var(--text-color); 
    font-weight: 450;
    padding: 10px 15px;
}

.navlist a:hover{
    color: var(--hover-color);
    text-shadow: 0 0 10px #00251f,
    0 0 20px #00251f,
    0 0 30px #00251f,
    0 0 40px #00251f,
    0 0 70px #00251f,
    0 0 80px #00251f,
    0 0 100px #00251f,
    0 0 150px #00251f,
}

#menu-icon{
    font-size: 1.8rem;
    z-index: 10001;
    cursor: pointer;
    margin-left: 25px;
    background: var(--hover-color);
    border-radius: 3px;
    color: var(--secon-bg-color);
   display: none;
}

.box{
    height: 30px;
    display: flex;
    cursor: pointer;
    padding: 10px 20px;
    background: white;
    border-radius: 30px;
    align-items: center;
    box-shadow: 0 10px 25px rgba(0,0,0,.2);
}

.box:hover input{
    width: 70px;
}

.box input{
    width: 0;
    outline: none;
    border: none;
    font-weight: 500;
    transition: 0.8s;
    background: transparent;
}

.box a .fast{
    color: #1daf;
    font-size: 18px;
}

.header-icon i{
    margin-left: 10px;
    font-size: 24px;
    color: var(--text-color);
    transition: all .40s ease;
    margin-right: 15px;
}

section{
    padding: 100px 5%;
}

.home {
    position: relative;
    min-height: 100vh;
    height: 100%;
    width: 100%;
    display: grid;
    background-size: cover;
    background-position: center;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    grid-gap: 1em;
}

.home-content{
    max-width: 600px;
}

.home-content h1{
    font-size: var(--big-font);
    font-weight: 50; 
    color: white;
    font-size: 29px;
    font-weight: 700;
    letter-spacing: 1x;
}
.change-text{
    font-size: 1.3rem;
    font-weight: 600;
}

.change-text h3{
    display: inline-flex;
    margin: 0;
    vertical-align: top;
}

.change-text h3 .word{
    position: absolute;
    display: flex;
    opacity: 0;
}

.change-text h3 .word .letter{
    transform-origin: center center 15px ;
}

.change-text h3 .word .letter.out{
    transform: rotateX(90deg);
    transition: 0.5s cubic-bezier(0.6,0,0.7,0.2);
}

.change-text h3 .word .letter.in{
    transition: 1s ease;
}

.change-text h3 .word .letter.behind{
    transform: rotateX(-90deg);
}

.text-justify{
    text-align: justify;
    padding-top: 10px;
}

.home-content p{
    color: white;
    line-height: 1.6;
}

.btn-box{
    display: flex;
    justify-content: space-between;
    margin-top: 2%;
    width: 320px;
    height: 45px;
}

.btn-box .btn{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background: #00251f;
    color: var(--bg-color);
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 100px;
    transition: .6s;
    box-shadow: var(--neon-box-shadow);
    border-radius: 5px;
    position: relative;overflow: hidden;
    z-index: 1;
    border: 2px solid var(--hover-color);
}

.btn:hover{
    color: var(--secon-bg-color);
}

.btn:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: var(--bg-color);
    width: 0;
    height: 100%;
    z-index: -1;
    transition: .4s;
}

.btn:hover::before{
    width: 100%;
}

.btn:nth-child(2){
    background: var(--bg-color);
    color: var(--hover-color);
}
.btn:nth-child(2):hover{
    color: var(--bg-color);
}

.btn:nth-child(2):before{
    background: var(--hover-color);
}

.social-icons{
    margin-top: 6rem;
    display: flex;
    justify-content: space-between;
    width: 220px;
    height: 40px;
}

.social-icons a{
    display: inline-flex;
    width: 50px;
    height: 100%;
    justify-content: center;
    align-items: center;
    background: #00251f;
    color: var(--hover-color);
    border: 2px solid var(--hover-color);
    transition: .6s;
    box-shadow: 0 0 0.3rem #00fddb;
    border-radius: 5px;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.social-icons a i{
    font-size: 1.5rem;
}

.social-icons a:hover{
    color: var(--secon-bg-color);
}

.social-icons a::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background: var(--hover-color);
    transition: .6s;
    z-index: -1;
}

.social-icons a:hover:before{
    width: 100%;
}


.home-img{
    position: relative;
}

.img-box{
    text-align: center;
    animation: moveUpDown 2s infinite alternate ease-in-out;
}

.img-box img{
    width: 100%;
    max-width: 480px;
    height: auto;
}

.account-form{
    position: fixed;
    top: 0; right: -105%;
    width: 35rem;
    background: black;
    display: flex;
    flex-flow: column;
    gap: 2rem;
    justify-content: center;
    height: 100%;
    z-index: 1200;
    padding: 2rem;
    align-items: center;

    &.active{
        right: 0;
        box-shadow: 0 0 0 100vw rgba(0,0,0,.8); 
    }

    #close-form{
        position: absolute;
        top: 1.5rem; right: 2rem;
        font-size: 2rem;
        cursor: pointer;
        color: white;
    
    
        &:hover{
            transform: rotate(90deg);
        }
    }

    form{
        border: .1rem solid #0eb582;
        padding: 2rem;
        display: none;

        &.active{
            display: block
        }
        
        h3{
            @include titleText(2.5rem);
            padding-bottom: .5rem;
            text-transform: uppercase;
        }
        .box{
            width: 100%;
            padding: 1.2rem 1.4rem;
            border: .1rem solid #0eb582;
            font-size: 1rem;
            margin: .7rem 0;
        }
        .flex{
            padding: 1rem 0;
            display: flex;
          
            gap: .1rem;
    
            label{
                font-size: .8rem;
                color: #777;
                cursor: pointer;
            }
    
            a{
                font-size: .8rem;
                color:#777 ;
                margin-left: auto;
                
                &:hover{
                    text-decoration: underline;
                    color: green;
                }
            }
        }
        .bton{
            width: 100%;
        }
    }
    .buttons .bton{
        margin: .2rem;

    &.active{
        background: #0eb582;
        color: white;
    }
    }
}


/* about Section css ----------------------------------------------------*/

.about-gallery{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px , .5fr));
    gap: 2rem;
}

.port-box{
    position: relative;
    border-radius: 15px;
    overflow: hidden;
    background: #291e33;
    display: flex;
    grid-template-rows: 1fr auto;
    align-items: center;
    border: 2px solid var(--hover-color);
    box-shadow: var(--neon-box-shadow);
}

.port-image{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.port-image img{
    width: 100%;
    opacity: .5s;
    height: 100%;
    transition: .5s;
}

.port-content{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: linear-gradient(rgba(0,0,0,.2),#00fddb);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    transition: 0.5s;
    padding: 0.2rem;
}

.port-box:hover .port-content{
    opacity: 1;
}

.port-box:hover .port-content img{
    transform: scale(1.1);
}

.port-content h3{
    font-size: 1.5rem;
    font-weight: 600;
}

.port-content p{
    font-size: .8rem;
    margin: 5px 0 15px 0;
}

.port-content a{
    background: #fff;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50px;
    border: 1px solid var(--hover-color);
    outline: 2px soli #fff;
}

.port-content a i{
    font-size: 1.3rem;
    color: var(--secon-bg-color);
}

.about{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-gap: 2em;
    background: var(--secon-bg-color);
}

.about .img-about{
    text-align: center;
    position: relative;
}

.about .img-about img{
    max-width: 400px;
    height: auto;
}

.about-content span{
    color: #fdfdfd;
    font-size: .8rem;
    font-weight: 200;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.about-content h2{
    color: var(--hover-color);
    font-weight: 700;
    font-size: var(--norma-font);
}

.about-content h3{
    font-weight: 600;
    font-size: 1.5rem;
    margin-bottom: 0.2rem;
}

.about-content p{
    color: #fdfdfd;
    font-weight: 300;
    margin-bottom: 1.5rem;
}

.info-about1,
.info-about2,
.info-about3{
    background: var(--bg-color);
    font-size: .5rem;
    position: absolute;
    padding: 10px;
    width: 70px;
    height: 70px;
    border-radius: 69% 31% 66% 34% / 21% 30% 70% 79%;
    display: block;
    box-shadow: var(--neon-box-shadow);
    border: 1px solid var(--hover-color);
    outline: 2px solid var(--bg-color);
    z-index: 100;
    animation: morph 6s linear infinite;
}

.info-about1{
    left: 10%;
    top: 34%;
}

.info-about2{
    left: 61%;
    top: 70%;
}

.info-about3{
    left: 66%;
    top: 15%;
}

.img-about span{
    color: var(--hover-color);
    font-size: 1rem;
    font-weight: 600;
}

.btn-box .btnbox{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 210px;
    height: 100%;
    background:var(--secon-bg-color);
    color: var(--hover-color);
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 100px;
    transition: .6s;
    box-shadow: var(--neon-box-shadow);
    border-radius: 5px;
    position: relative;overflow: hidden;
    z-index: 1;
    border: 2px solid var(--hover-color);
}

.btnbox:hover{
    color: black;
}

.btnbox:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: var(--hover-color);
    width: 0;
    height: 100%;
    z-index: -1;
    transition: .4s;
}

.btnbox:hover::before{
    width: 100%;
}

.btnbox:nth-child(2){
    background: var(--bg-color);
    color: var(--hover-color);
}
.btnbox:nth-child(2):hover{
    color: var(--bg-color);
}

.btnbox:nth-child(2):before{
    background: var(--hover-color);
}
/* structure Section css ----------------------------------------------------*/
.structure{
    padding: 50px 5%;
}
.structure-content{
    max-width: 100%;
    align-items: center;

    h3{
        font-size: 40px;
    }

    span{
        font-size: 20px;
    }
}


.tree {
	width: 100%;
	height: auto;
	text-align: center;
}

.tree p {
	color: var(--hover-color);
    margin-bottom: 5px;
}
.tree ul {
	padding-top: 20px;
	position: relative;
	transition: .5s;
}
.tree li {
	display: inline-table;
	text-align: center;
	list-style-type: none;
	position: relative;
	padding: 10px;
	transition: .5s;
}
.tree li::before, .tree li::after {
	content: '';
	position: absolute;
	top: 0;
	right: 50%;
	border-top: 1px solid #ccc;
	width: 51%;
	height: 10px;
}
.tree li::after {
	right: auto;
	left: 50%;
	border-left: 1px solid #ccc;
}
.tree li:only-child::after, .tree li:only-child::before {
	display: none;
}
.tree li:only-child {
	padding-top: 0;
}
.tree li:first-child::before, .tree li:last-child::after {
	border: 0 none;
}
.tree li:last-child::before {
	border-right: 1px solid #ccc;
	border-radius: 0 5px 0 0;
	-webkit-border-radius: 0 5px 0 0;
	-moz-border-radius: 0 5px 0 0;
}
.tree li:first-child::after {
	border-radius: 5px 0 0 0;
	-webkit-border-radius: 5px 0 0 0;
	-moz-border-radius: 5px 0 0 0;
}
.tree ul ul::before {
	content: '';
	position: absolute;
	top: 0;
	left: 50%;
	border-left: 1px solid #ccc;
	width: 0;
	height: 20px;
}
.tree li a {
	border: 1px solid #ccc;
	padding: 10px;
	display: inline-grid;
	border-radius: 5px;
	text-decoration-line: none;
	border-radius: 5px;
	transition: .5s;
}
.tree li a img {
	width:200px;
	height: 100px;
	margin-bottom: 10px !important;
	border-radius: 100px;
	margin: auto;
}
.tree li a span {
	border: 1px solid #ccc;
	border-radius: 5px;
	color: #666;
	padding: 8px;
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 500;
}
/*Hover-Section*/
.tree li a:hover, .tree li a:hover i, .tree li a:hover span, .tree li a:hover+ul li a {
	background: #c8e4f8;
	color: #000;
	border: 1px solid #94a0b4;
}
.tree li a:hover+ul li::after, .tree li a:hover+ul li::before, .tree li a:hover+ul::before, .tree li a:hover+ul ul::before {
	border-color: #94a0b4;
}

/* Contact secrion css */
.contant{
    background: #023929;
    width: 100%;
}

.main-text{
    align-items: center;
}

.contant form{
    text-align: center;
    max-width: 50rem;
    margin: 1rem auto;
    margin-bottom: 3rem;
}

.contant form input,
.contant form textarea{
    width: 100%;
    color: var(--text-color);
    background: var(--bg-color);
    margin-bottom: .8rem;
    border: none;
    border-radius: 5px;
    padding: .7rem;
}
.contant .alert{
    text-align: center;
    color: white;
    
}
.contant form textarea{
    resize: none;
}

.formBtn{
    display: flex;
    justify-content: center;
    width: 100%;
}

.formBtn .btn{
    cursor: pointer;
    font-size: 1rem;
}

iframe{
    margin-left: 175px;
}


/* footer css */
footer{
    padding: 1.5rem 10%;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    background: #00251f;
}
footer p{
    color: #fdfdfd;
    font-size: 20px;
}
footer img{
height: 30px;
align-items: center;
}
    


footer a{
    display: inline-flex;
    justify-content: center;
    color: var(--text-color);
    background: var(--hover-color);
    padding: .6rem;
    border-radius: 5px;
    margin-left: 380px;
}

footer a i{
    font-size: 1rem;
    color: var(--secon-bg-color);
}


/*mixin ---------------------------------------------------------------------------*/
@mixin titleText($titleSize) {
    font-size:$titleSize;
    text-transform: capitalize;
    color: black;
}

 
/*keyframes ---------------------------------------------------------------------------*/
@keyframes moveUpDown {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(20px);
    }
}
